

/* Obligar a que los páneles tengan siempre una altura razonable */
.tab-pane {
  min-height: 400px;
}

.inline-inputs {
  display: inline-flex;
  /*display: grid;
  grid-template-columns: 40% 20% 20% 20%;*/
}

.inline-button-wrapper {
  margin: auto 0 30px 15px;
}

/* Para que el botón de descargar esté inline (meterlo en renderUI le pone un div extra con display: block) */
#download_ui {
  display: inline-block;
}
