
/* Fonts */
body,
div,
p,
text,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Bogle", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.plotly text {
  font-family: "Bogle", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #0f1c2c;
}

.skin-blue .sidebar-menu>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active {
  border-color: #eb148d;
}

.skin-blue .main-header .logo:hover,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #eb148d;
}

/* Obligar a que los páneles tengan siempre una altura razonable */
.tab-pane {
  height: auto;
  min-height: 80vh;
}


/* Centrar login */
.login-panel {
  width: 50%;
  margin: 200px auto;
}

.login-panel h1 {
  font-size: 50px;
}

/* Display de botones */
.inline-inputs {
  display: inline-flex;
  height: 60px;
  /*display: grid;
  grid-template-columns: 40% 20% 20% 20%;*/
}

.inline-button-wrapper {
  margin-top: 25px;
  margin-left: 20px;
}

.inline-dropdown-margin {
  margin-left: 20px;
}

.usage-inline-inputs {
  display: inline-flex;
}

.usage-inline-inputs > * {
  margin-right: 15px;
  margin-left: 15px;
}

.inline-select-button-wrapper {
  margin-top: auto;
  margin-bottom: 15px;
}

/* Botones de colores con letra blanca */
.btn-success,
.btn-info,
.btn-primary,
.btn-danger,
.btn-warning {
  color: white;
}

/* Márgenes para inputs*/
.input-margin {
  margin-bottom: 20px;
  margin-right: 20px;
}

/* Lado derecho del header */
.logout-info {
  display: flex;
}

/* Botones del header */
.nav .header-icons {
  display: flex;
}

.header-icon,
.header-icon:active,
.header-icon:active:focus,
.header-icon:hover,
.header-icon:focus {
  color: white;
  padding: 10px 13px 3px 13px;
  font-size: 25px;
}

.header-icon,
.header-icon:focus {
  background-color: #0f1c2c;
  border-color: #0f1c2c;
}

.header-icon:hover {
  background-color: #eb148d;
  border-color: #eb148d;
}

.header-icon:active,
.header-icon:active:hover,
.header-icon:active:focus {
  background-color: #eb148d;
  border-color: #eb148d;
}

.header-text {
  width: 55px;
  padding-top: 6px;
  color: white;
  font-size: 30px;
  text-align: center;
}

/* Botones de controles */
.evenly-spaced-inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input-icon,
.input-icon:active,
.input-icon:focus,
.input-icon:visited {
  margin: 0;
  padding: 6px;
  font-size: 35px;
  line-height: 0;
}

.input-icon,
.input-icon:focus,
.input-icon:visited {
  color: #eb148d;
  background-color: #00000000;
  border-color: #00000000;
}

.input-icon:hover {
  color: white;
  background-color: #eb148d;
  border-color: #eb148d;
}

.input-icon:active,
.input-icon:active:focus {
  color: white;
  background-color: #eb148d;
  border-color: #eb148d;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: #eb148d !important;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: #eb148d !important;
}

/* Tablas */
.datatables {
  border-width: 1px;
  border-color: rgb(244, 244, 244);
  border-style: solid;
  padding: 10px;
}

table.dataTable thead tr th {
  color: white;
  background-color: #0f1c2c;
}

table.dataTable thead tr td {
  background-color: #eb148d;
}

table.dataTable thead tr th.header-theme1 {
  background-color: #0071ce;
}

table.dataTable thead tr th.header-theme2 {
  background-color: #76c043;
}

table.dataTable thead tr th.header-theme3 {
  background-color: #de1c24;
}

table.dataTable thead tr th.header-theme4 {
  background-color: #78b9e7;
}

/* Gráficas */
.svg-container {
  width: 100%;
  height: 100%;
}

.plotly.html-widget {
  border-width: 1px;
  border-color: rgb(244, 244, 244);
  border-style: solid;
  padding: 10px 0;
  margin-bottom: 10px;
  box-sizing: content-box;
}

/* Custom modals */
.modal-lg {
  width: 70%;
}

.modal-body button[data-dismiss="modal"],
.modal-body button[data-dismiss="modal"]:active,
.modal-body button[data-dismiss="modal"]:focus {
  position: absolute;
  top: -25px;
  right: -25px;
  border-radius: 60px;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  color: white;
}

.modal-body button[data-dismiss="modal"] {
  background-color: #0f1c2c;
  border-color: #0f1c2c;
}

.modal-body button[data-dismiss="modal"]:active,
.modal-body button[data-dismiss="modal"]:active:hover {
  background-color: #eb148d;
  border-color: #eb148d;
}

.modal-body button[data-dismiss="modal"]:hover {
  background-color: #003896;
  border-color: #003896;
}

.modal-body button[data-dismiss="modal"]:focus {
  outline: 0;
}

.modal-tabbox {
  overflow: auto;
}

.modal-tabbox p,
.modal-tabbox li {
  font-size: 18px;
}

/* Icons */
.text-icon {
  color: #003896;
}

.nav-tabs-custom .nav-tabs-custom {
  margin-bottom: 0;
}


/* Loading de gráfica de ventas */
#compute_promotions-grafica_ventas + .shiny-output-error-validation {
    color: #0f1c2c;
    font-size: 20px;
}

/* Título */
#app-logo-container {
  width: 40%;
  padding: 0;
  float: left;
}

#app-logo {
  /*width: 40px;*/
  height: 40px;
  /*float: left;
  margin: 3px 5px 3px 40px;*/
}

#app-name-container {
  width: 60%;
  float: right;
  text-align: left;
}

#app-name {
  color: white;
  font-family: "Bogle", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  float: none;
  margin: 7px 0 0 0;
  line-height: 100%;
}

#app-description {
  margin: 0;
  float: none;
  font-size: 12px;
  font-style: italic;
  line-height: 100%;
}

/* Para que el botón de descargar esté inline (meterlo en renderUI le pone un div extra con display: block) */
#download_ui {
  display: inline-block;
}

#notification-buttons .shiny-input-container {
  margin: 10px;
}
